{% extends "food/index.html" %}
{% load static %}
{% block content %}
<!-- Contact Section -->
<div id="restaurant-menu">
  {% for head in displays %}
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Contact Us</h2>
      <hr>
      <p>{{ head.contact_heading }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div id="contact" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="menu-section-title" style="font-size:16px">Tell Us How We are Doing!!!!</h2>
        <form method="post">
          {% csrf_token %}
            <div class="row">
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li>
                  <div class="alert alert-success">{{ message }}</div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <div class="col-md-6">

                <div class="form-group">
                  <label for="name">Enter Name: </label>
                  <input name="name" type="text" id="name" class="form-control" placeholder="Name" required="required">
                    <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Enter Email: </label>
                  <input name="email" type="email" id="email" class="form-control" placeholder="Email" required="required">
                    <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="desc">How can we help you: </label>
              <textarea name="desc" id="desc" class="form-control" rows="4" placeholder="Message" required></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2 class="menu-section-title" style="font-size:16px">We Are Located Here!!!</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54805.94759345658!2d76.86228205269836!3d30.84826610489313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f8e91f6fdb1fb%3A0x27006f8c98a2ccb6!2sKalka%2C%20Haryana!5e0!3m2!1sen!2sin!4v1598255314812!5m2!1sen!2sin" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock content %}