{% extends "food/index.html" %}
{% load static %}
{% block content %}
{% static "img" as baseUrl %}
<!-- Portfolio Section -->
<div id="portfolio">
  {% for head in displays %}
  <div class="section-title text-center center">
      <div class="overlay">
        <h2>Gallery</h2>
        <hr>
        <p>{{ head.gallery_heading }}</p>
      </div>
  </div>
  {% endfor %}
  <div class="container">

    <div class="row">
    </div>
    <div class="row">

      <div class="portfolio-items">
        {% for displays in display %}
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="{{displays.img.url}}" title="{{ displays.dishname }}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>{{ displays.dishname }}</h4>
              </div>
              <img src="{{displays.img.url}}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% endblock content %}